*:focus{
    outline: transparent;
}
::selection{
    background: #eee;
}
html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh;
    overflow: hidden;
    color: #333;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: default;
}
.sec1,
.sec1_lightbox,.sec1_header,
.sec1_header .header_maintitle,
.sec1_header .header_about::after{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* header */
.sec1_header{
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    padding: 15px 50px;
    box-sizing: border-box;
    background-color: #e5e5e5;
    z-index: 2;
}
.sec1_header.black{
    background-color: #333;
}
.sec1_header .header_maintitle{
    position: absolute;
    top: -95px;
    left: 52px;
}
.sec1_header.black .header_maintitle{
    color: rgba(255, 255, 255, 0.7);
}
.sec1_header .maintitle_en{
    letter-spacing: 12px;
    line-height: 55px;
}
.sec1_header .maintitle_zh{
    letter-spacing: 4px;
    opacity: 0.7;
}
.sec1_header .header_about{
    padding: 3px 14px 4px 14px;
    background-color: #424242;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}
.sec1_header.black .header_about{
    background-color: #e8cfa8;
    color:#000;
    font-weight: bold;
}
.sec1_header .header_about::after{
    position: relative;
    display: inline-block;
    content: '';
    width: 8px;
    height: 12px;
    background-image: url(../images/icon/down.png);
    background-size: cover;
    margin-left: 50px;
}
.sec1_header.black .header_about::after{
    background-image: url(../images/icon/down_B.png);
    transform: rotateZ(180deg);
}
.sec1_header .header_contact span,
.sec1_header .header_contact a{
    vertical-align: middle;
}
.sec1_header .contact_text{
    position: relative;
    margin-right: 10px;
}
.sec1_header .contact_text::after{
    position: absolute;
    display: inline-block;
    content: '';
    width: 1px;
    height: 21px;
    background-color: rgb(200, 200, 200);
    top: 0;
    left: 109px;
}
.sec1_header .contact_phone,.sec1_header .contact_email{
    display: inline-block;
}
.sec1_header .contact_phone{
    width: 18px;
    height: 18px;
    background-image: url(../images/icon/phone.png);
    background-size: cover;
}
.sec1_header .contact_email{
    width: 26px;
    height: 18px;
    background-image: url(../images/icon/email.png);
    background-size: cover;
    margin-left: 22px;
}
/* header end */
/* ----- sec1 ----- */
.sec1 {
    position: relative;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}
/* svg */
.sec1_svg{
    position: relative;
    width: 20%;
    margin-left: 24%;
    animation: intoGround 25s ease infinite both;
}
.sec1.lightbox_open .sec1_svg{
    opacity: 0;
    animation: none;
}
.sec1_svg .svg_text{
    position: absolute;
    width: 75%;
    bottom: 310px;
    padding-left: 50px;
    text-align: center;
    z-index: 4;
}
.sec1_svg .text_uiux,.sec1_svg .text_fd{
    display: flex;
}
.sec1_svg .text_uiux{
    animation: uiux 25s ease infinite both;
}
.sec1_svg .text_fd{
    animation: fd 25s ease infinite both;
}
.sec1_svg .text_uiux i,.sec1_svg .text_fd i{
    width: 25%;
}

/* phone 圖文剪影落下 */
@keyframes uiux{
    0%{ transform: translateY(300%);opacity: 0; }
   15.5%{ transform: translateY(300%);opacity: 0; }
   20.5%{ transform: translateY(0%);opacity: 1; }
  100%{ transform: translateY(0%);opacity: 1; }
}
@keyframes fd{
    0%{ transform: translateY(280%);opacity: 0; }
   16%{ transform: translateY(280%);opacity: 0; }
   21%{ transform: translateY(0%);opacity: 1; }
  100%{ transform: translateY(0%);opacity: 1; }
}

.sec1_svg .svg_3,
.sec1_svg .svg_2,
.sec1_svg .svg_1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sec1_svg .svg_3{
    position: relative;
    width: 85%;
    margin-left: 10%;
    z-index: 3;
}
.sec1_svg .svg_3 path{
    opacity: 0;
}
.sec1_svg .svg_3 #path_1{
    animation: pathDown 25s ease-out infinite forwards;
}
.sec1_svg .svg_3 #path_2{
    animation: pathDown 25s ease-out 0.2s infinite forwards;
}
.sec1_svg .svg_3 #path_3{
    animation: pathDown 25s ease-out 0.4s infinite forwards;
}
.sec1_svg .svg_3 #path_4{
    animation: pathDown 25s ease-out 0.55s infinite forwards;
}
.sec1_svg .svg_3 #path_5{
    animation: pathDown 25s ease-out 0.7s infinite both;
}
.sec1_svg .svg_3 #path_6{
    animation: pathDown 25s ease-out 0.85s infinite both;
}
.sec1_svg .svg_3 #path_7{
    animation: pathDown 25s ease-out 1s infinite both;
}
.sec1_svg .svg_3 #path_8{
    animation: pathDown 25s ease-out 1.1s infinite both;
}
.sec1_svg .svg_3 #path_9{
    animation: pathDown 25s ease-out 1.2s infinite both;
}
.sec1_svg .svg_3 #path_10{
    animation: pathDown 25s ease-out 1.3s infinite both;
}
.sec1_svg .svg_3 #path_11{
    animation: pathDown 25s ease-out 1.4s infinite both;
}
.sec1_svg .svg_3 #path_12{
    animation: pathDown 25s ease-out 1.55s infinite both;
}
.sec1_svg .svg_2{
    z-index: 2;
    animation: phone2 25s ease 0.2s infinite both;
}
.sec1_svg .svg_1{
    z-index: 1;
    filter:drop-shadow(-25px 25px 25px rgba(82, 82, 82, 0.5));
    -webkit-filter:drop-shadow(-25px 25px 25px rgba(82, 82, 82, 0.5));
    -moz-filter:drop-shadow(-25px 25px 25px rgba(82, 82, 82, 0.5));
    animation: phone1 25s ease infinite both;
}
/* phone 圖文剪影落下 */
@keyframes pathDown{
      0%{ transform: translateY(-85%);opacity: 0; }
      7%{ transform: translateY(-85%);opacity: 0; }
      9%{ transform: translateY(0%);opacity: 1; }
      88%{ transform: translateY(0%);opacity: 1; }
      88.0001%{ opacity: 0; }
    100%{ transform: translateY(0%);opacity: 0; }
}

@keyframes phone2{
    /* 制高點 */
     0%{ bottom: 130%;opacity: 0; }
     /* 低點回彈 */
     5%{ bottom: -3%;opacity: 1; }
     /* 制低點 */
    10%{ bottom: -1.5%; }
    79%{ bottom: -1.5%; }
    90.9999%{ opacity: 1; }
    100%{ opacity: 0; }
}
@keyframes phone1{
    /* 制高點 */
     0%{ bottom: 130%;filter:drop-shadow(-5px 25px 125px rgba(82, 82, 82, 0)); }
     /* 低點回彈 */
     5%{ bottom: -7.5%;filter:drop-shadow(-5px 25px 10px rgba(82, 82, 82, 0.4)); }
     /* 制低點 */
    10%{ bottom: -2.5%;filter:drop-shadow(-5px 25px 15px rgba(82, 82, 82, 0.35)); }
    80%{ bottom: -2.5%;filter:drop-shadow(-5px 25px 15px rgba(82, 82, 82, 0.35)); }
    /* 低點回彈 */
    82%{ filter:drop-shadow(-5px 25px 20px rgba(82, 82, 82, 0.35)); }
    /* 沒入平面 */
    86%{ filter:drop-shadow(0px 0px 0px rgba(82, 82, 82, 0.5)); }
    100%{ filter:drop-shadow(0px 0px 0px rgba(82, 82, 82, 0.5)); }
}

/* phone 整體沒入平面 */
@keyframes intoGround{
      0%{ padding-top: 11%;}
     82%{ padding-top: 11%;}
     84%{ opacity: 1;}
     86%{ padding-top: 14%;opacity: 0;}
    100%{ padding-top: 14%;opacity: 0;}
}
/* svg end */
/* 作品 swiper */
.sec1_swiper{
    position: absolute;
    width: 203px;
    height: 100%;
    top: 0;
    right: 3.5%;
}
.sec1_swiper .swiper-container-sec1{
    width: 100%;
    height: 100%;
    padding-top: 90px;
}
.sec1_swiper .swiper-slide{
    position: relative;
    /* height: -webkit-fit-content; */
    /* height: -moz-fit-content; */
    height: fit-content;
}
.sec1_swiper .swiper-slide .slide_text{
    position: absolute;
    left: -25px;
    top: 0;
    transform-origin: 0% 100%;
    transform: rotateZ(90deg);
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    line-height: 18px;
    opacity: 0;
    pointer-events: none;
}
.sec1_swiper .swiper-slide img{
    width: 100%;
    border-radius: 10px;
}
.swiper-button-prev-sec1,.swiper-button-next-sec1{
    position: absolute;
    width: 100%;
    padding: 40px 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.swiper-button-next-sec1{
    bottom: 53px;
    background: linear-gradient(to top, rgba(242, 242, 242, 1) 20%,rgba(242, 242, 242, 0) 100%);
}
.swiper-button-prev-sec1{
    top: 0;
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 20%,rgba(242, 242, 242, 0) 100%);
}
.swiper-button-prev-sec1::before,.swiper-button-next-sec1::before{
    position: relative;
    display: block;
    content: '';
    width: 45px;
    height: 26px;
    margin: auto;
    background-size: cover;
}
.swiper-button-next-sec1::before{
    background-image: url(../images/icon/swiper_next.png);
}
.swiper-button-prev-sec1::before{
    background-image: url(../images/icon/swiper_prev.png);
}
/* swiper end */
/* 作品彈窗 */
.sec1_lightbox{
    position: absolute;
    width: 62%;
    top: 0;
    left: 0;
    margin: 0 240px 0 200px;
    opacity: 0;
    z-index: -1;
}
.sec1_lightbox.active{
    opacity: 1;
    z-index: 5;
}
.sec1_lightbox .lightbox_info{
    position: absolute;
    display: block;
    width: 26%;
    padding-top: 198px;
}
.sec1_lightbox .lightbox_info .info_title{
    display: inline-block;
    padding: 4px 20px;
    border: 1px solid rgba(163, 163, 163, 0.5);
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.sec1_lightbox .lightbox_info .info_tag{
    line-height: 32px;
    letter-spacing: 1px;
}
.sec1_lightbox .lightbox_info .info_tag::before{
    display: inline-block;
    content:'#';
    margin-right: 10px;
}
/* 作品 palettes */
.sec1_lightbox .lightbox_info .info_palettes{
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 15px;
    margin-top: 13px;
}
.sec1_lightbox_1 .lightbox_info .info_palettes{
    background-image: linear-gradient(to right, #f0cb70 0%,#f0cb70 10%,#e27382 10.001%,#e27382 70%,#905f47 70.0001%,#905f47 78%,#322351 78.0001%,#322351 100%);
}
.sec1_lightbox_2 .lightbox_info .info_palettes{
    background-image: linear-gradient(to right, #d0c9c3 0%,#d0c9c3 10%,#f0cb70 10.0001%,#f0cb70 60%,#7a7979 60.0001%);
}
.sec1_lightbox_3 .lightbox_info .info_palettes:nth-child(4){
    background-image: linear-gradient(to right, #fff 0%,#fff 10%,#ffe2bb 10.0001%,#ffe2bb 55%,#ffcb57 55.0001%,#ffcb57 80%,#ffbf4d 80.0001%);
}
.sec1_lightbox_3 .lightbox_info .info_palettes:nth-child(5){
    background-image: linear-gradient(to right, #fff 0%,#fff 10%,#63b3c1 10.0001%,#63b3c1 35%,#438faa 35.0001%,#438faa 60%,#367d96 60.0001%);
}
.sec1_lightbox_3 .lightbox_info .info_palettes:nth-child(6){
    background-image: linear-gradient(to right, #fff 0%,#fff 10%,#bababa 10.0001%,#bababa 32%,#919191 32.0001%,#919191 55%,#7c7c7c 55.0001%);
}
/* 作品 palettes end */
.sec1_lightbox .lightbox_imgWrap{
    height: calc(100vh - 115px);
    padding-top: 115px;
    overflow-y: scroll;
}
.sec1_lightbox .lightbox_imgWrap::-webkit-scrollbar {
    opacity: 0;
}
.sec1_lightbox .lightbox_img{
    display: block;
    width: 60%;
    margin-left: 32%;
    padding-bottom: 100px;
    filter: drop-shadow(12px 29px 25px rgba(51, 51, 51, 0.4));
}
.sec1_lightbox .lightbox_img img{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 8px;
}
.sec1_lightbox .lightbox_img_mobile{
    width: 40%;
    margin-left: 40%;
}
.sec1_lightbox .lightbox_img_mobile img{
    border-radius: 15px;
}
.sec1_lightbox_close{
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
.sec1.lightbox_open .sec1_lightbox_close{
    display: block;
}
/* 作品彈窗 end */
/* ----- sec1 ----- end */
/* ----- sec2 end ----- */
.sec2 {
    background-color: #424242;
    height: 100vh;
}
.sec2_self{
    padding: 10% 0 0 5%;
}
.sec2_self .edu_wrap{
    margin-bottom: 20px;
}
.sec2 .self_name{
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.sec2 .edu_wrap{
    display: flex;
    align-items: center;
}
.sec2 .edu_img{
    width: 40px;
    margin-right: 18px;
}
.sec2 .edu_img img{
    width: 100%;
}
.sec2 .cont_text{
    display: block;
    line-height: 24px;
}
/* ----- sec2 ----- end */

@media only screen and (min-width: 992px){
    .sec1_header .header_about,
    .sec1_swiper .swiper-slide,
    .swiper-button-next-sec1,
    .swiper-button-prev-sec1{
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    .sec1_header .contact_phone{
        cursor: pointer;
        clip-path: polygon(0% 0%, 18% 0%, 100% 84%, 100% 100%, 0% 100%);
    }
    .sec1_header .contact_phone:hover{
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .sec1_header .contact_email{
        cursor: pointer;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 32% 100%, 0% -23%)
    }
    .sec1_header .contact_email:hover{
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 0% -23%)
    }
    /* ----- sec1 ----- */
    .sec1_swiper .swiper-slide{
        opacity: 0.2;
        cursor: pointer;
    }
    .sec1_swiper .swiper-slide-active{
        opacity: 0.6;
    }
    .sec1_swiper .swiper-slide:hover{
        opacity: 1;
    }
    .sec1_swiper .swiper-slide:hover .slide_text{
        opacity: 1;
    }
    .sec1_header .headerabout{
        cursor: pointer;
    }
    .sec1_header .header_about:hover{
        opacity: 0.7;
    }
    .swiper-button-prev-sec1:hover,
    .swiper-button-next-sec1:hover{
        opacity: 1;
    }

    /* ----- sec1 ----- end */
    /* ----- sec2 ----- */

    /* ----- sec2 end ----- */
}
@media only screen and (max-width: 991px){
    /* ----- sec1 ----- */

    /* ----- sec1 ----- end */
    /* ----- sec2 ----- */

    /* ----- sec2 end ----- */
}
@media only screen and (max-width: 767px){

}